version: '3.8'

services:
  prometheus:
    image: prom/prometheus
    ports:
      - '9090:9090'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-remote-write-receiver'

  grafana:
    image: grafana/grafana
    ports:
      - '3002:3000'
    depends_on:
      - prometheus

  k6:
    image: grafana/k6
    volumes:
      - ./k6:/scripts
    command: run -o experimental-prometheus-rw /scripts/create-order.test.js
    environment:
      - K6_PROMETHEUS_RW_SERVER_URL=http://prometheus:9090/api/v1/write
    depends_on:
      - prometheus
